table.meniu {
    text-align: left;
    background-color: white;
    /* border: 3px dashed black; */
}

table.center {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    border-width: 3px;
    /* border-style: solid; */
    border-color: grey;
    padding: 1px;
    background-color: white;
}
table.backlink {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    border-width: 13px;
    border-style: solid;
    border-color: red;
    background-color: cyan;
}
body {
    text-align: center;
}
form.login {
    margin-bottom: 0;
    padding: 6px;
    border: 3px grey;
}
input.s1 {
    width: 100%;
    font-size: 13pt;
    text-align: left;
}
